.instrument-form-card {
    padding: 20px;
    background-color: #F0F0F0;
}
.instrument-form-title {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-bottom: 30px;
}

.instrument-form-inputs {
    margin-bottom: 30px;
}

.instrument-form-inputs-left {
    margin-bottom: 30px;
}

.margin-botton-30 {
    margin-bottom: 30px;
}

.instrument-form-buttons-container {
    display: flex;
    justify-content: space-between;
}

.instrument-form-button {
    height: 50px;
    width: 110px;
    border-radius: 10px;
    font-weight: bold;
}

.instrument-form-select__control {
    border-radius: 10px !important;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    height: 50px;
    background-color: #F0F0F0 !important;
}

.instrument-form-select__placeholder {
    color: #9E9E9E !important;
}

.instrument-form-select__indicator-separator {
   display: none;
}


@media (min-width: 576px) {
    .instrument-form-buttons-container {
        justify-content: flex-end;
    }

    .instrument-form-button {
        margin-left: 20px;
        width: 270px;
    }
    

}

@media (min-width: 992px) {
    .instrument-form-inputs-left {
        margin-bottom: 0;
    }
}