.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn h6 {
    color: #fff;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .btn h6 {
        font-size: 16px;
    }
}