.title-card-container {
    display: flex;
    justify-content: space-around;
    height: 40px;
    background-color: #F5F7FB;
    margin-bottom: 12px;
}

.title-card-itens {
    color: #A3A7B4;
    text-transform: uppercase;
}