.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-delete {
    width: 50px !important;
    margin-right: 10px;
}

.icon-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}
